<%
// load menu options and contacts from content
const menu = _.cms('menu') || {}
const contacts = _.cms('contacts') || {}

// some social networks handled by contacts
const networksWithColors = [
  ['facebook', '#3b5998'],
  ['youtube', '#ff0000'],
  ['instagram', '#e1306c'],
  ['twitter', '#1da1f2']
]

// start grouping categories by parent slug
const allCategories = menu.alphabetical_order
  ? _.lodash.sortBy(_.categories, ['name'])
  : _.categories
const categoryParents = _.lodash.groupBy(allCategories, ({ parent }) => {
  return !parent || !parent.slug ? '_' : parent.slug
})
const getSubmenuId = slug => `a-${slug.replace(/\//g, '_')}`

const mainCategories = categoryParents._
if (mainCategories) {
  if (Array.isArray(menu.sort_categories)) {
    // reorder first level categories list
    for (let i = menu.sort_categories.length - 1; i >= 0; i--) {
      const slug = menu.sort_categories[i]
      const categoryIndex = mainCategories.findIndex(category => category.slug === slug)
      if (categoryIndex > -1) {
        const category = mainCategories[categoryIndex]
        mainCategories.splice(categoryIndex, 1)
        mainCategories.unshift(category)
      }
    }
  }
}
%>

<aside id="menu" class="menu shadow">
  <ul class="buttons">
    <li>
      <a href="#" onclick="toggleSidenav()">
        <i>
<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
        </i>
        <span>Fechar</span>
      </a>
    </li>
    <li>
      <a href="/app/#/account/" title="Minha conta">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg></i>
        <span>Minha Conta</span>
      </a>
    </li>
    <li>
      <a href="/app/#/account/favorites">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg></i>
        <span>Desejos</span>
      </a>
    </li>
    <li>
      <a href="/pages/trocas">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M160 164s1.44-33 33.54-59.46C212.6 88.83 235.49 84.28 256 84c18.73-.23 35.47 2.94 45.48 7.82C318.59 100.2 352 120.6 352 164c0 45.67-29.18 66.37-62.35 89.18S248 298.36 248 324" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="40"/><circle cx="248" cy="399.99" r="32"/></svg></i>
        <span>Dúvidas</span>
      </a>
    </li>
    <li>
      <a href="/pages/contato">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M408 64H104a56.16 56.16 0 00-56 56v192a56.16 56.16 0 0056 56h40v80l93.72-78.14a8 8 0 015.13-1.86H408a56.16 56.16 0 0056-56V120a56.16 56.16 0 00-56-56z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><circle cx="160" cy="216" r="32"/><circle cx="256" cy="216" r="32"/><circle cx="352" cy="216" r="32"/></svg></i>
        <span>Atendimento</span>
      </a>
    </li>
  </ul>
  <nav class="accordion" id="accordion-menu">
    <button
      class="menu__btn menu__btn--close btn d-none"
      type="button"
      onclick="toggleSidenav()"
      aria-label="Toggle Side Navigation"
    >
      <i class="i-times"></i>
    </button>

    <% for (const slug in categoryParents) { %>
      <% if (categoryParents.hasOwnProperty(slug)) { %>
        <% let category, parent %>
        <div
          <% if (slug === '_') { %>
            id="categories-nav"
            class="collapse show"
            aria-expanded="true"
          <% } else { %>
            id="<%= getSubmenuId(slug) %>"
            class="collapse"
            aria-expanded="false"
          <% } %>
          data-parent="#accordion-menu"
        >

          <% if (slug !== '_') { %>
            <% category = _.categories.find(category => category.slug === slug) %>
            <% parent = category && category.parent %>
            <button
              class="menu__btn btn"
              type="button"
              data-toggle="collapse"
              <% if (!parent || !parent.slug) { %>
                aria-expanded="true"
                data-target="#categories-nav"
                aria-controls="categories-nav"
              <% } else {
                const submenuId = getSubmenuId(parent.slug)
                %>
                aria-expanded="false"
                data-target="#<%= submenuId %>"
                aria-controls="<%= submenuId %>"
              <% } %>
            >
              <i class="i-arrow-left"></i>
            </button>
          <% } %>

          <div class="menu__list pt-0">
            <% categoryParents[slug].forEach((subcategory, index) => { %>
              <% const hasSubmenu = Array.isArray(categoryParents[subcategory.slug]) %>
              <a
                <% if (hasSubmenu) {
                  const submenuId = getSubmenuId(subcategory.slug)
                  %>
                  href="#<%= submenuId %>"
                  data-toggle="collapse"
                  role="button"
                  aria-expanded="false"
                  aria-controls="<%= submenuId %>"
                <% } else { %>
                  href="/<%= subcategory.slug %>"
                <% } %>
                id="c-<%= subcategory._id %>"
                class="menu__item"
              >
                <% if (subcategory.icon) { %>
                  <span class="menu__item-icon">
                    <img
                      data-src="<%= subcategory.icon.url %>"
                      alt="<%= subcategory.icon.alt || subcategory.name %>"
                      class="lozad"
                      data-preload="<%= (index * 200) %>"
                    >
                  </span>
                <% } %>
                <span>
                  <%= subcategory.name %>
                </span>
              </a>
            <% }) %>
          </div>

          <% if (category && category.slug) { %>
            <a href="/<%= category.slug %>" class="menu__link">
              <%= _.dictionary('seeAll$1Category').replace('$1', category.name) %>
            </a>
          <% } %>
        </div>
      <% } %>
    <% } %>
  </nav>

  <footer class="menu__footer">
    <% if (menu.phone_wpp) { %>
      <div class="menu__phone">
        <% if (contacts.whatsapp) { %>
          <a
            href="javascript:;"
            target="_blank"
            rel="noopener"
            class="whatsapp-link"
            data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
          >
            <i class="i-whatsapp mr-1"></i>
            <%= contacts.whatsapp %>
          </a>
        <% } else if (contacts.phone) { %>
          <a
            href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
            target="_blank"
            rel="noopener"
          >
            <i class="i-phone mr-1"></i>
            <%= contacts.phone %>
          </a>
        <% } %>
      </div>
    <% } %>

    <% if (menu.socials) { %>
      <div class="menu__social">
        <% networksWithColors.forEach(([network, color]) => { %>
          <% if (contacts[network]) { %>
            <a
              href="<%= contacts[network] %>"
              target="_blank"
              rel="noopener"
              aria-label="<%= network %>"
              style="color: <%= color %>"
            >
              <i class="i-<%= network %>"></i>
            </a>
          <% } %>
        <% }) %>
      </div>
    <% } %>
  </footer>
</aside>
  
